<nav class="navbar navbar-expand-sm bg-dark-subtle border-bottom border-dark-subtle shadow">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" routerLink="">
      <img src="/logo.png" alt="logo-fiunju" height="32">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/punto1" routerLinkActive="active">Punto 1</a>
        <a class="nav-link" routerLink="/punto2" routerLinkActive="active">Punto 2</a>
        <a class="nav-link" routerLink="/punto3" routerLinkActive="active">Punto 3</a>
        <a class="nav-link" routerLink="/parte2" routerLinkActive="active">Parte 2</a>
      </div>
    </div>
  </div>
</nav>
